@model IEnumerable<Web.Models.Order>
<div class="jumbotron">
    <h1>BrainWare Orders</h1>
    <p class="lead">This is the BrainWare orders page! Welcome</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Your Orders</h2>
        <div id="orders"></div>
    </div>

</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OrderTotal)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
            </tr>

            if (item.OrderProducts != null && item.OrderProducts.Any())
            {
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Product Price
                    </th>
                    <th>
                        Total Quantity
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var prod in item.OrderProducts)
                {
                    <tr>
                        <td></td>
                        <td>@prod.Product.Name</td>
                        <td>$@prod.Price</td>
                        <td>@prod.Quantity</td>
                    </tr>
                }
            </tbody>
        }
    }

    </table>
